#GOOGLE_APPLICATION_CREDENTIALS=C:\Path\To\gcloud\application_default_credentials.json
APP_GCP_PROJECT_ID=your-gcp-project-id
APP_GCP_LOCATION=global
APP_VERTEX_SEARCH_DATA_STORE_ID=your-data-store-id
APP_VERTEX_SEARCH_SERVING_CONFIG_ID=default_serving_config
APP_VERTEX_EMBEDDINGS_MODEL=text-embedding-004
APP_VERTEX_EMBEDDINGS_LOCATION=us-central1
APP_BIGQUERY_PROJECT_ID=your-bigquery-project-id
