CLOUD_SQL_CONNECTION_NAME=CONNECTION_NAME
CLOUD_SQL_IP_TYPE=PUBLIC
DATABASE_NAME=gdg_hack
DATABASE_USER=postgres
DATABASE_PASSWORD=PASSWORDS

# Via Cloud SQL Auth Proxy (proxy running on localhost:5432)
DATABASE_URL=URL

GOOGLE_CLOUD_PROJECT=PROJECT_ID
GOOGLE_CLOUD_LOCATION=asia-southeast1

JWT_SECRET=change_me
JWT_EXPIRES_IN=5h